---
import Layout from "../../layouts/Layout.astro";
import Nav from "../../ui/Nav.astro";
import Link from "../../ui/Link.astro";
import Tag from "../../ui/Tag.astro";

// react component
import ThemeToggle from "../../ui/ThemeToggle";

import { formatDate } from "../../utils/formatDate";
import { getEntry } from "astro:content";
const { post } = Astro.params;
if (post === undefined) {
  throw new Error("Post(slug) is required");
}

const entry = await getEntry("blog", post);

if (entry === undefined) {
  return Astro.redirect("/404");
}

const { title, date, tags } = entry.data;
const { Content } = await entry.render();
---

<Layout title={"post.data.title"}>
  <h1 class="mb-8">{title}</h1>
  <Nav class="flex items-center justify-end gap-3 mb-8">
    <div class="mr-auto">
      <ThemeToggle client:only="react" />
      <time>{formatDate(date)}</time>
      •
      {tags.map((tag) => <Tag href={`/tags/${tag}`} text={tag} />)}
    </div>
    <Link href="/posts/" text="Back" />
  </Nav>
  <Content />
</Layout>

<style is:inline>
  object {
    display: block;
    max-width: 100%;
    height: auto;
  }
  html.dark object {
    filter: invert(93%) hue-rotate(180deg);
  }
</style>
