---
---

<footer class="mt-32">
  <small class="flex justify-start gap-1">
    <time>{new Date().getFullYear()}</time>
    &copy; Payton Burr
    <a href="#" class="ml-auto">RSS</a>
  </small>
</footer>
