---
import Link from "./Link.astro";
---

<article>
  <h3><Link post text="Markdown Examples" href="/posts/post-1/" /></h3>
  <p class="mb-2">
    View examples of all Markdown options. <Link
      text="Read More →"
      href="/posts/post-1/"
    />
  </p>
  <time>Thu Jan 19 2023</time>
</article>
