---
import Project from "./Project";

const response = await fetch("https://api.github.com/graphql", {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
    Authorization: `Bearer ${import.meta.env.GITHUB_TOKEN}`,
  },
  body: JSON.stringify({
    query: `query {
      user(login: "payton-burr") {
    pinnedItems(first: 6) {
      totalCount
      edges {
        node {
          ... on Repository {
            name
            id
            url
            description
            languages(first: 10) {
              edges {
                node {
                  name
                }
              }
            }
          }
        }
      }
    }
  }
    }`,
  }),
});

const { data } = await response.json();
const { user } = data;

const pinnedItems = user.pinnedItems.edges.map(({ node }) => node);
---

<div class="flex flex-wrap justify-center">
  {
    pinnedItems.map((item) => {
      return (
        <Project>
          <img
            src="/mountain.jpg"
            alt=""
            class="inline w-full rounded md:w-36 md:mr-4"
          />
          <div class="content">
            <p class="text-xl my-5 leading-5">{item.name}</p>
            <p class="text-sm my-3">{item.description}</p>
            <div>
              <a href={item.url} target="_blank">
                Repo
              </a>
            </div>
          </div>
        </Project>
      );
    })
  }
</div>
