---
import Project from "./Project.astro";

const { projects } = Astro.props;
---

<div class="flex flex-wrap justify-center">
  {
    projects.map(({ id, title, image, description, tags, links }) => {
      return (
        <Project>
          <img
            src={image}
            alt="Image"
            class="inline w-full rounded md:w-36 md:mr-4"
          />
          <div class="content">
            <p class="text-xl my-5 leading-5">{title}</p>
            <p class="text-sm my-3">{description}</p>
            <div>
              <a href={links.github} target="_blank">
                Repo
              </a>
            </div>
          </div>
        </Project>
      );
    })
  }
</div>
