---
import Project from "./Project";
---

<div class="flex flex-wrap justify-center">
  <Project>
    <img
      src="/mountain.jpg"
      alt=""
      class="inline w-full rounded md:w-36 md:mr-4"
    />
    <div class="content">
      <p class="text-xl my-5 leading-5">Project Name</p>
      <p class="text-sm my-3">Project Description</p>
      <div>
        <a href="#" target="_blank"> Repo</a>
      </div>
    </div>
  </Project>
</div>
