---
import Project from "./Project";

const { pinnedItems } = Astro.props;
---

<div class="flex flex-wrap justify-center">
  {
    pinnedItems.map(({ name, id, url, description, languages }) => {
      return (
        <Project>
          <img
            src="/mountain.jpg"
            alt="Image"
            class="inline w-full rounded md:w-36 md:mr-4"
          />
          <div class="content">
            <p class="text-xl my-5 leading-5">{name}</p>
            <p class="text-sm my-3">{description}</p>
            <div>
              <a href={url} target="_blank">
                Repo
              </a>
            </div>
          </div>
        </Project>
      );
    })
  }
</div>
