---
import Layout from "../layouts/Layout.astro";
import Link from "../ui/Link.astro";
import Nav from "../ui/Nav.astro";
---

<Layout title="Page Not Found">
  <h1 class="mb-8">404</h1>
  <Nav>
    <Link text="Go back" href="/" />
  </Nav>
  <p>Well, this was unexpected.</p>
</Layout>
