---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <h1 class="mb-8">Payton Burr</h1>
  <div class="flex items-center justify-end gap-3 mb-8">
    <a href="#">About</a>
    <a href="#">Posts</a>
    <a href="#">Github</a>
  </div>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ab
      molestias
    </p>
    <p>
      voluptates blanditiis eum impedit quasi sapiente ex illo officiis magni,
      facilis reprehenderit odio temporibus nulla accusamus sequi provident
      inventore.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum vitae
      praesentium eum nulla.
    </p>
    <p>
      Accusantium cupiditate reprehenderit autem, quis, ea perferendis maxime
    </p>
  </div>
</Layout>
