---
import Layout from "../../layouts/Layout.astro";
import Nav from "../../ui/Nav.astro";
import Link from "../../ui/Link.astro";
import Projects from "../../ui/Projects.astro";

// react component
import ThemeToggle from "../../ui/ThemeToggle";

export const prerender = false;
---

<Layout title="Projects">
  <h1 class="mb-8">Projects</h1>
  <Nav class="flex items-center justify-end gap-3 mb-8">
    <ThemeToggle client:only="react" />
    <Link href="/" text="About" />
    <Link current href="/projects" text="Projects" />
    <Link href="/posts" text="Posts" />
  </Nav>
  <Projects />
</Layout>
