---
import Layout from "../../layouts/Layout.astro";
import Nav from "../../ui/Nav.astro";
import Link from "../../ui/Link.astro";
---

<Layout title="About">
  <h1 class="mb-8">Projects</h1>
  <Nav class="flex items-center justify-end gap-3 mb-8">
    <Link href="/" text="About" />
    <Link current href="/projects" text="Projects" />
    <Link href="/posts" text="Posts" />
  </Nav>
  <main></main>
</Layout>
