:root {
  --astro-code-color-text: #000000;
  --astro-code-color-background: rgba(0, 0, 150, 0.05);
  --astro-code-token-constant: #0070c1;
  --astro-code-token-string: #a31515;
  --astro-code-token-comment: #008000;
  --astro-code-token-keyword: #0000ff;
  --astro-code-token-parameter: #ff9801;
  --astro-code-token-function: #795e26;
  --astro-code-token-string-expression: var(--astro-code-token-string);
  --astro-code-token-punctuation: #a4a4a4;
  --astro-code-token-link: var(--astro-code-token-string);
}

.dark {
  --astro-code-color-text: #d4d4d4;
  --astro-code-color-background: rgba(21, 24, 30, 1);
  --astro-code-token-constant: #9cdcfe;
  --astro-code-token-string: #ce9178;
  --astro-code-token-comment: #505050;
  --astro-code-token-keyword: #569cd6;
  --astro-code-token-function: #dcdcaa;
  --astro-code-token-string-expression: var(--astro-code-token-string);
  --astro-code-token-punctuation: #404040;
  --astro-code-token-link: var(--astro-code-token-string);
}
